/*General Utilities*/

body {
  background-color: rgba(133, 124, 124, 0.445);
}
.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.row {
  justify-content: center;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: rgba(165, 42, 42, 0.876);
  text-shadow: 0px 4px 3px rgba(117, 109, 109, 0.623);
}
h3 {
  font-size: 1.5rem;
  text-align: left;
  color: rgba(88, 76, 77, 0.911);
}
h4 {
  font-size: 1.3rem;
  text-align: left;
  color: rgba(88, 76, 77, 0.911);
}
h5 {
  text-align: center;
  color: rgba(117, 109, 109, 0.623);
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.p-under-title {
  margin-bottom: 5rem;
  color: rgb(2, 90, 68);
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title1 {
  margin-top: 6rem;
  padding: 1.5rem;
  color: rgba(165, 42, 42, 0.876);
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text {
  text-align: center;
  padding: 5rem;
  font-weight: 350;
  color: rgba(165, 42, 42, 0.876);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Buttons - General */
.btn {
  margin: 1rem 2rem 1rem 2rem;
  padding: 0.5rem;
}

.btn-primary {
  background-color: rgb(242, 204, 143);
  border-color: rgb(242, 204, 143);
  box-shadow: 0.2rem 0.2rem rgba(68, 66, 66, 0.322);
}
.btn-primary:hover {
  color: #ffffffc9;
  background-color: rgb(0, 128, 128);
  border-color: rgb(0, 128, 128);
  text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(0, 128, 128);
  border-color: rgb(0, 128, 128);
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(242, 204, 143);
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: rgb(224, 122, 95);
  border-color: rgb(224, 122, 95);
  box-shadow: 0 0 0 0.2rem rgb(224, 122, 95);
}

.btn-lg {
  display: flex;
  justify-content: center;
  margin: 0 6rem 0 6rem;
}

.btn-pay {
  margin: 1rem 2rem 0 2rem;
  outline: none;
}
.btn-pay a {
  color: rgb(255, 255, 255);
}
.btn-pay:hover a {
  color: white;
  text-decoration: none;
}

/* Buttons - General */

/*Generals*/

/*Navbar*/

.navbar {
  height: 6rem;
}
.navbar-nav {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
  padding-bottom: 0rem;
}
.navbar-brand {
  background-image: url(../logo/Diseño\ sin\ título.png);
  padding-bottom: 1rem;
}

.logo {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
}

/*Navbar*/

/*Home page*/
/*Carousel*/
.carousel {
  transition: 0.4s;
  margin: 2rem;
}
.carousel-item {
  height: 70vh;
  border-radius: 0.5rem;
}

.slide1 {
  background-image: url(../img/slide_sweater_image.jpg);
  background-size: cover;
  background-position: center center;
}
.slide2 {
  background-image: url(../img/slide_manClothes_image.jpg);
  background-size: cover;
  background-position: center center;
}
.slide3 {
  background-image: url(../img/slide_womenClothes_image.jpg);
  background-size: cover;
  background-position: center center;
}

/*Carousel*/
/*Home page*/

/*STORE SECTION*/
/*Jumbotron Store*/
.jumbotron {
  margin-top: 8rem !important;
  margin-bottom: 3rem !important;
}

.jumbotron {
  background-color: rgba(224, 123, 95, 0.534);
  box-shadow: 0.3rem 0.3rem rgba(117, 110, 110, 0.39);
}

/*Jumbotron Store*/

/*Cards*/
/*Card texts*/
.product-fabric,
.product-items,
.product-stock {
  text-align: left;
}
/*Cards*/

/*List Groups*/

.list-group-item {
  color: rgba(165, 42, 42, 0.911);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.list-group-item:hover {
  text-decoration: none;
  text-align: center;
  color: rgba(0, 139, 139, 0.698);
}

.card {
  box-shadow: 0.3rem 0.3rem rgba(117, 110, 110, 0.253);
}
/*List Groups*/

/*SHOPPING CART*/
.table td {
  border-top: none;
}

.shopping-cart-quantity-input {
  height: 1.5rem;
}
input {
  width: 3rem;
}
.shoppingCartTotal {
  text-align: center;
}
.p-total {
  margin-bottom: 1rem;
  color: rgba(165, 42, 42, 0.63);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Cart checkout*/

.card-general-form {
  background-color: transparent;
}

.checkout-button {
  margin: 0 0 0 15rem;
}

/*SIGN IN SECTION*/
/* Contact Form*/
.contact-form {
  margin: 15rem;
}

.submit-button {
  margin: 1.5rem 25rem;
}

/*Contact Form*/
